:root {
    --primary: rgb(255, 51, 0);
    --secondary: rgb(87, 86, 86);
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurations for first section (Event Description)*/
#event-description {
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/img2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color)
}

#context h1,
#context .event-date {
    color: var(--primary);
}

#context h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#context .about-event {
    font-size: 2rem;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1rem;
}

#context p {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}

#context .event-date {
    font-weight: bold;
}

#subscription-form {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 24%;
}

#subscription-form p {
    font-size: 1.5rem;
    color: var(--text-secondary);
    margin-bottom: 1rem;
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7rem;
}

.form-group label {
    color: var(--text-tertiary);
    margin-bottom: 0.2rem;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 6px 8px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.btn {
    background-color: var(--primary);
    color: var(--text-color);
    text-transform: uppercase;
    border: none;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
    transition: .4s;
    font-size: bold;
}

.btn:hover {
    opacity: 1;
}

/*Confiurations for benefits section*/
#benefits h2 {
    background-color: var(--secondary);
    text-align: center;
    padding: 2.5rem;
    font-weight: 800;
}

.benefits {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
    width: 80%;
    margin: 0 auto;
}

.benefit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--text-secondary);
}

.benefit .benefit-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 1rem;
    background-position: center;
    background-size: cover;
}

#benefit-1 {
    background-image: url(../img/img3.jpg);
}

#benefit-2 {
    background-image: url(../img/img4.jpg);
}

#benefit-3 {
    background-image: url(../img/img5.jpg);
}

/* Configurations for event location section*/
#location {
    height: 450px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/img12.jpg);
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

#address , #about-location {
    max-width: 30%;
}

#address {
    text-align: center;
    font-size: 1.3rem;
}

#about-location h2 {
    color: var(--primary);
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
}

#about-location p {
    line-height: 1.5rem;
}

/*Configurations for section details*/
#details {
    width: 80%;
    margin: 0 auto;
}

.detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 4rem;
}

.detail img {
    width: 50%;
}

.detail h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

#detail-1 h3 {
    font-size: 3rem;
    font-weight: 800;
}

.detail-description {
    width: 100%;
    padding-left: 2rem;
}

.detail-description ul {
    list-style-position: inside;
}

.detail-description ul li {
    margin-bottom: 0.4rem;
}

.detail-description ul li:last-child {
    font-weight: bold;
}